__pycache__/
*.pyc
*.pyo
*.pyd
dist/
build/
*.spec
.vscode/
*.log

# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Electron build output
electron-app/dist/
electron-app/dist-electron/
